body {
    background-image: url("bgimg.jpg");
    font-family: Arial, sans-serif;
    text-align: center;
    width:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
     
  }
  
  .container {
    margin: 50px auto;
    width: 80%;
    
    padding: 20px;
 
 
  }
  
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #ff0af3;
    animation: bounce 2s ease-in-out infinite;
    text-shadow: 2px 2px 5px #F0FF42;
  }
  
  img {
    width: 100%;
   
    max-width: 400px;
    margin-bottom: 20px;
    
  }
  
  p {
    font-weight: bolder;
    line-height: 1.5;
    color: #6a1b9a;
    text-shadow: 2px 2px 5px red;
    font-size: 40px;
    margin-bottom: 20px;
    
    display: block;
    
  }
  
  button {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  button:hover {
    background-color: #8e24aa;
    transform: scale(1.1);
  }
  
  .popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      animation: fadeIn 0.5s;
  }
  
  .popup-content {
    
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      text-align: center;
      animation: zoomIn 0.5s;
  }
  
  #bird {
      animation: flyIn 2s;
  }
  .balloon {
    --balloonDimension: 15vmax; /* 15% of min(viewport width, height) */
    width: var(--balloonDimension);
    height: var(--balloonDimension);
    border-radius: 100% 100% 15% 100%;
    margin: 0 0 0 25px;
    transform: rotateZ(45deg);
    position: fixed;
    bottom: calc(-1 * var(--balloonDimension));
    left: 0;
    background-color: aqua;
}
.balloon::before {
    content: "";
    width: 10%;
    height: 25%;
    background: radial-gradient(circle, rgba(255,255,255,.7) 0%, rgba(255,255,255,.1) 100%);
    position: absolute;
    left: 15%;
    top: 45%;
    border-radius: 100%;
}
.balloon::after {
    content: "";
    width: 13%;
    height: 5%;
    background-color: inherit;
    position: absolute;
    left: 90%;
    top: 94%;
    border-radius: 22%;
    transform: rotateZ(-45deg);
}
.balloon .string {
    position: absolute;
    background-color: #990;
    width: 2px;
    height: calc(var(--balloonDimension) * .6);
    transform-origin: top center;
    transform: rotateZ(-45deg);
    top: calc(var(--balloonDimension) - 6px);
    left: calc(var(--balloonDimension) - 8px);
}
.yellow{
    background-color: rgba(150, 150, 0, .45);
}
.green{
    background-color: rgba(0, 150, 0, .45);
}
.blue{
    background-color: rgba(0, 0, 150, .45);
}
.red{
    background-color: rgba(150, 0, 0, .45);
}
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  
  @keyframes zoomIn {
      from {
          transform: scale(0);
      }
      to {
          transform: scale(1);
      }
  }
  
  @keyframes flyIn {
      0% {
          transform: translateX(-100%);
      }
      100% {
          transform: translateX(100%);
      }
  }
  
  @keyframes bounce {
      0% {
          transform: translateY(0);
      }
      25% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(0);
      }
  }
  